[push]
	default = simple
[color]
	ui = auto
[user]
	name = Dotan Cohen
	email = github-com-2010.04@dotancohen.com
[color "diff"]
  meta = magenta
  #meta = yellow bold
  #frag = magenta bold
  old = red bold
  new = green bold
[alias]
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[core]
	excludesfile = /home/dotancohen/.gitignore
	quotepath = off
